#produs {
  height: 50vw;
  padding: 30px;
  background-color: aqua;
  font-size: 18px;
  font-family: Trebuchet MS;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#descriere {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
